#CCAdminPage{
    position: absolute;
    right: 0;
    background-color: rgb(238, 238, 238);
    min-width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
/*-----------------------------------Nav-----------------------------------*/
#CCAdminPageFirstChild{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: serif;  
    background-color: #eee;
}

#CCAdminPageFirstChildBtn{
margin-right: 3%;
margin-top: 3%;
font-family: "Poppins";
align-self: center;
}



/*-----------------------------------Child Components Render-----------------------------------*/
#CCAdminPageSecondChild{
    width: 100%;
    height: 90%;
    background-color: rgb(238, 238, 238);
    transition: 5s ease-in;


}

#CCUsers{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#CCUsers input{
    margin-right: 3%;
    margin-top: 3%;
    font-family: "Poppins";
    width: 30%;
}



#UserGrid{
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding:30px;
    overflow-y: scroll;
      
}

#imageContainer{
    width: 20%;
    height: 50%;
    align-self: center;
    margin-bottom: 0;
    background-repeat:no-repeat;
    background-position: center center;


}  



#ManageProjectsTab{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#adminStatics{
    height: 35%;
    width: 100%;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#CCProjectsAdmin{
    height: 60%;
    width: 100%;
    padding:30px;
    overflow-y: scroll;
}


/*----------------------------------- CREATE ACCOUNT -----------------------------------*/

#FCCreateAccount{
    font-family: "poppins";
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    left: 0;
    z-index: 1;
    background: transparent;
    backdrop-filter: blur(4px);
    
}

#FCCreateAccount div{
border-radius: 5px;
user-select: none;

}


#CCAcountAvatarSetupGridContainer{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
flex-direction: column;

}


#CCAcountAvatarSetupGridContainer div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3%;

}

#CCAcountAvatarSetupGridContainer div img{
cursor: pointer;
}



/*----------------------------------- CREATE PROJECT -----------------------------------*/

#FCCreateProject{
    font-family: "poppins";
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    left: 0;
    z-index: 1;
    background: transparent;
    backdrop-filter: blur(4px);
    
}

#FCCreateProject div{
border-radius: 5px;
user-select: none;

}



#CCAddMembersToProject{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#CCAddMembersToProject input{

    margin-right: 3%;
    margin-top: 3%;
    font-family: "Poppins";
    width: 70%;
    margin-bottom: 5%;
}

.CCAddMembersToProjectUserGrid{
    width: 100%;
    overflow-y: scroll;
    display: inline-block;
    height: 40vh;
}

